<?xml version="1.0" encoding="UTF-8"?>
<cabrio-config>
  <interface>
    <full-screen>true</full-screen>
    <theme>carousel</theme>
    <screen>
      <width>1366</width>
      <height>768</height>
      <rotation>0</rotation>
      <flip-horizontal>0</flip-horizontal>
      <flip-vertical>0</flip-vertical>
    </screen>
    <graphics>
      <quality>high</quality>
      <max-image-width>512</max-image-width>
      <max-image-height>512</max-image-height>
    </graphics>
    <controls>
      <event>
        <name>up</name>
        <value>up</value>
        <device>
          <type>keyboard</type>
          <id>0</id>
        </device>
      </event>
      <event>
        <name>down</name>
        <value>down</value>
        <device>
          <type>keyboard</type>
          <id>0</id>
        </device>
      </event>
      <event>
        <name>left</name>
        <value>left</value>
        <device>
          <type>keyboard</type>
          <id>0</id>
        </device>
      </event>
      <event>
        <name>right</name>
        <value>right</value>
        <device>
          <type>keyboard</type>
          <id>0</id>
        </device>
      </event>
      <event>
        <name>select</name>
        <value>lctrl</value>
        <device>
          <type>keyboard</type>
          <id>0</id>
        </device>
      </event>
      <event>
        <name>back</name>
        <value>space</value>
        <device>
          <type>keyboard</type>
          <id>0</id>
        </device>
      </event>
      <event>
        <name>quit</name>
        <value>escape</value>
        <device>
          <type>keyboard</type>
          <id>0</id>
        </device>
      </event>
    </controls>
  </interface>
  <locations>
    <location>
      <type>screenshot</type>
      <directory>/home/jim/.mame/snap</directory>
    </location>
  </locations>
  <emulators>
    <emulator>
      <name>mame</name>
      <display-name>MAME</display-name>
      <executable>mame</executable>
      <params>
        <param>
          <name>-nowindow</name>
        </param>
        <param>
          <name>-skip_gameinfo</name>
        </param>
        <param>
          <name>-joystick</name>
        </param>
      </params>
    </emulator>
  </emulators>
  <game-list>
    <name>M.A.M.E.</name>
    <games>
      <game>
        <name>1942 (Revision B)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/1942.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/1942/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Aliens (World set 1)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/aliens.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/aliens/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Asteroids (rev 4)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/asteroid.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/asteroid/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Atari System 1 BIOS</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/atarisy1.zip</rom-image>
        <images>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Atomiswave Bios</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/awbios.zip</rom-image>
        <images>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Berzerk (set 1)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/berzerk.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/berzerk/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Black Tiger</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/blktiger.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/blktiger/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Burger Time (Data East set 1)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/btime.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/btime/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Battle Zone (set 1)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/bzone.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/bzone/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Crystal Castles (version 4)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/ccastles.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/ccastles/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Choplifter (8751 315-5151)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/choplift.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/choplift/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Contra (US, set 1)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/contra.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/contra/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Dragon Breed (M81 PCB version)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/dbreed.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/dbreed/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Defender (Red label)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/defender.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/defender/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Dig Dug (rev 2)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/digdug.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/digdug/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Donkey Kong (US set 1)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/dkong.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/dkong/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Donkey Kong Junior (US)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/dkongjr.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/dkongjr/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Discs of Tron (Upright)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/dotron.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/dotron/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Frogger</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/frogger.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/frogger/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Galaga (Namco rev. B)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/galaga.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/galaga/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Galaxian (Namco set 1)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/galaxian.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/galaxian/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Gauntlet (rev 14)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/gauntlet.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/gauntlet/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Golden Axe (set 6, US, 8751 317-123A)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/goldnaxe.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/goldnaxe/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Gyruss (Konami)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/gyruss.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/gyruss/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Indiana Jones and the Temple of Doom (set 1)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/indytemp.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/indytemp/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Space Invaders / Space Invaders M</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/invaders.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/invaders/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Joust (White/Green label)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/joust.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/joust/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Lock-On (rev. E)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/lockon.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/lockon/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Mappy (US)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/mappy.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/mappy/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Marble Madness (set 1)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/marble.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/marble/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Mario Bros. (US, Revision F)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/mario.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/mario/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Millipede</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/milliped.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/milliped/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Missile Command (rev 3)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/missile.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/missile/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Mortal Kombat 3 (rev 2.1)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/mk3.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/mk3/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Mortal Kombat 4 (version 3.0)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/mk4.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/mk4/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Moon Patrol</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/mpatrol.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/mpatrol/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Ms. Pac-Man</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/mspacman.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/mspacman/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Marvel Vs. Capcom: Clash of Super Heroes (Euro 980123)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/mvsc.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/mvsc/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Namco 51xx</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/namco51.zip</rom-image>
        <images>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Namco 53xx</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/namco53.zip</rom-image>
        <images>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Namco 54xx</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/namco54.zip</rom-image>
        <images>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Pac-Man (Midway)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/pacman.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/pacman/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>PuckMan (Japan set 1)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/puckman.zip</rom-image>
        <images>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Punch-Out!!</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/punchout.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/punchout/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Q*bert (US set 1)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/qbert.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/qbert/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Rampage (ver 3 8-27-86)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/rampage.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/rampage/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Robotron: 2084 (Solid Blue label)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/robotron.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/robotron/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Sea Wolf (set 1)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/seawolf.zip</rom-image>
        <images>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Street Fighter II': Champion Edition (World 920513)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/sf2ce.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/sf2ce/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Street Fighter Alpha 3 (Euro 980904)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/sfa3.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/sfa3/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Space Harrier (Rev A, 8751 315-5163A)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/sharrier.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/sharrier/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Satan's Hollow (set 1)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/shollow.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/shollow/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>The Simpsons (4 Players World, set 1)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/simpsons.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/simpsons/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Sinistar (revision 3)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/sinistar.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/sinistar/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Stargate</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/stargate.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/stargate/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Star Wars (rev 2)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/starwars.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/starwars/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>S.T.U.N. Runner (rev 6)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/stunrun.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/stunrun/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Tempest (rev 3, Revised Hardware)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/tempest.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/tempest/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Track Field</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/trackfld.zip</rom-image>
        <images>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Tron (8/9)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/tron.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/tron/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Venture (version 5 set 1)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/venture.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/venture/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Wizard of Wor</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/wow.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/wow/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Xenophobe</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/xenophob.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/xenophob/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Xevious (Namco)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/xevious.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/xevious/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>X-Men Vs. Street Fighter (Euro 961004)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/xmvsf.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/xmvsf/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
      <game>
        <name>Zaxxon (set 1)</name>
        <platform>Arcade</platform>
        <rom-image>/home/jim/.mame/roms/zaxxon.zip</rom-image>
        <images>
          <image>
            <type>screenshot</type>
            <image-file>/home/jim/.mame/snap/zaxxon/0000.png</image-file>
          </image>
        </images>
        <categories>
          <category>
            <name>Genre</name>
            <value>Maze</value>
          </category>
        </categories>
      </game>
    </games>
  </game-list>
</cabrio-config>